body {
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    background-color:thistle;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text {
    color: teal;
}

.bounce {
    width:150px;
    height:150px;
    background-color: #640357;
    margin:70px auto;
    border-radius:50%;
    cursor: pointer;

}

.text:hover,.bounce:hover {
    animation:bounce 1s linear;
}

@keyframes bounce {
    20%,50%,80%, to {
        transform:translateX(0);
    }
    40% {
        transform:translateY(-30px);
    }
    70%{
        transform:translateY(-15px);
    }
    90% {
        transform:translateY(-4px);
    }
}